<html lang="en">
    <%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
        <h2>About Us</h2>
        <p>This website is based on writing your thoughts and experiences on the events that you faced in your life.
            You could share anything you have in mind and want everyone to know about any special occassion that you have attended.
            Your experiences would be read by other bloggers who would attracted towards your beautiful blogs and would be encouraged to share their own story.
        </p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>